<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Criar Sala - Rocket.Q</title>

    <!-- View Port -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link rel="stylesheet" href="styles/global.css">
    <link rel="stylesheet" href="styles/home.css">

    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Poppins:wght@400;500&display=swap" rel="stylesheet">

</head>
<body>
<div id="home" class="content">
    <header>
        <img src="images/logo.svg" alt="Rocket-Q - Logo" />
    </header>

    <div id="bg">
        <div class="balls top"></div>
        <div class="balls bottom"></div>
    </div>

<main>
    <div class="container">
        <section>
            <h2>Entre como participante</h2>
            <form action="">
                <label class="sr-only" for="room-id">c칩digo da sala</label>
                <input type="number" id="room-id" placeholder="C칩digo da sala">
                <button class="">
                    <img src="images/log-in 1.svg" alt="Entrar na sala">
                    Entrar na sala
                </button>
            </form>
        </section>


        <div class="separator">
            <div></div>
            <div>OU</div>
            <div></div>
        </div>

        <section>
            <h2>Crie sua pr칩pria sala, de forma f치cil</h2>
            <a href="create-room" class="button outllined">
                <img src="images/users 1.svg" alt="Criar sala">
                Criar sala
            </a>
        </section>
        </div>
    </div>
</main>
</div>
</body>
</html>