<html>
    <head>
        <title>Password Incorrect</title>
        <script>
            confirm("Senha incorreta")
            window.location.replace("/rooms/<%= roomid %>")
        </script>
    </head>
</html>